<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.ringball.mapper.sys.SysUserRoleMenuOrgMapper">

	<resultMap id="BaseResultMap" type="com.ai.ringball.dao.sys.SysOrganization">
		<id column="ORGID" property="orgid" jdbcType="VARCHAR" />
		<result column="ORGNAME" property="orgname" jdbcType="VARCHAR" />
		<result column="ORGDESCRIPTION" property="orgdescription" jdbcType="VARCHAR" />
		<result column="ORGCODE" property="orgcode" jdbcType="VARCHAR" />
		<result column="ORGADRESS" property="orgadress" jdbcType="VARCHAR" />
		<result column="ORGCONTACTS" property="orgcontacts" jdbcType="VARCHAR" />
		<result column="ORGPHONENO" property="orgphoneno" jdbcType="VARCHAR" />
		<result column="ORGLEVEL" property="orglevel" jdbcType="VARCHAR" />
		<result column="ORGPARENTID" property="orgparentid" jdbcType="VARCHAR" />
		<result column="ORGSTATUS" property="orgstatus" jdbcType="VARCHAR" />
		<result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
		<result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="selectAllUserOrg" resultMap="BaseResultMap" parameterType="map">
		SELECT
			t.ID as ORGID,
			t.LOGIN_ID as ORGCODE,
			t.USER_NM as ORGNAME,
			t.LOGIN_PWD as ORGDESCRIPTION 
		FROM
			LP_MGNT_SALES_MST t
		ORDER BY t.USER_NM
	</select>
</mapper>