/*
 *main color:#003481,bright color:#5894ee;
 *gray:#dbdbdc;darkgray:#818282;
*/


/*=body common====================================================================*/
/*=layout====================================================================*/

/*=title====================================================================*/


/*=input====================================================================*/
input[type="text"],input[type="password"]{border:1px solid #003481;}
/*=button====================================================================*/


/*=datagrid====================================================================*/


/*=tab====================================================================*/


/*=tree====================================================================*/


/*=dialog====================================================================*/
.dialog>.Matte{background:url("../images/bg_blank_53.png") repeat;}
/*=login====================================================================*/

/*=index====================================================================*/
.leftMenu li a{float: left;}

